.cabecalho-itens{
    background-color: blue;
    color: black;
    display: flex;
    justify-content: space-around;
}

.lista{
    display: inline-block;
}
.cabecalho-imagem{
    width: 20%;
}